/*All backgrounds!*/
	.backmain {
		background-image: url('../TequilaPosesivo/PNGs/001BackOffMain.png');
		background-size: cover;
	}

	.backoffistore {
		background-image: url('../TequilaPosesivo/PNGs/006BackOfficialProducts.png');
		background-size: cover;
	}

	.backsigncart {
		background-image: url('../TequilaPosesivo/PNGs/007BackSignCart.png');
		background-size: cover;	
	}

	.backvaluestile {
		background-image: url('../TequilaPosesivo/PNGs/008BackValues.png');
		background-size: cover;
	}

	.ratingstile {
		background-image: url('../TequilaPosesivo/PNGs/009BackReviews.png');
		background-size: cover;
	}

	.backcontact {
		background-image: url('../TequilaPosesivo/PNGs/013BackContact.png');
		background-size: cover;
	}

	.backrecipe1 {
		background-image: url('../TequilaPosesivo/PNGs/010BackRecipe1.png');
		background-size: cover;
	}
	.backrecipe2 {
		background-image: url('../TequilaPosesivo/PNGs/011BackRecipe2.png');
		background-size: cover;
	}
	.backrecipe3 {
		background-image: url('../TequilaPosesivo/PNGs/012BackRecipe3.png');
		background-size: cover;
	}
	
/*All lists*/
	ul {
		list-style: none;
		padding: 0;
	}
/*styles text colors*/
	.color1{
		color: #618e61;
	}
	.color2 {
		color: #f8e9e6;
	}
	.color3 {
		color: #808080;
	}
	.color4 {
		color: #333333;
	}
	.color5 {
		color: #deeffc;
	}
	.color6 {
		color: #c1f7a4;
	}
	.color7 {
		color: #2579bf;
	}
/*All text decoration*/
	body {
		font-family: 'junction_regularregular',Arial, Helvetica, sans-serif;
	}
	.cursive {
		font-family: 'DancingScript-Regular';
	}
	@font-face {
		font-family: 'DancingScript-Regular';
		src: url("DancingScript-Regular.otf") format("opentype");
		font-size: 30px;
	}
	
	.position {
		margin-top: 0px;
		padding-top: 15px;
	}
	
	/* unvisited link */
	a:link {
		text-decoration: none;
	}

	/* visited link */
	a:visited {
		text-decoration: none;
		text-transform: none;
	}

	/* mouse over link */
	a:hover {
		text-decoration: none;
	}

	/* selected link */
	a:active {
		text-decoration: none;
	}
	.carousel-indicators {
		padding: 20px;
	}
	.container {
		margin: 0px;
	}
	.tequil {
		padding-top:20px;
		z-index: 2;
	}
	.tequilas {
		padding-top:50px;
		z-index: 3;
	}
	.iconsmaincontacts {
		vertical-align: middle;
		margin-bottom: 5px;
		margin-right: 5px;
	}
	.iconsmaintequilas {
		vertical-align: bottom;
		margin-bottom: 5px;
		margin-right: 5px;
	}
	.lineheight {
		line-height: 19px;
	}
	.indicator .carousel-indicators li {   
		background: #b1e796; 
		margin:0;
		border: none;
	}
	.indicator .carousel-indicators .active{
		background-color: #fbece7;
	}
